<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="UTF-8">
	<title>Noble</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->
</head>
<body ng-controller="whoWeAreCtrl">
	<header class="header innerHeader clearfix">
		<div class="headerInner clearfix">
			<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></h1>
			<div class="btnMobileNav">
				<span class="bar bar1"></span>
				<span class="bar bar2"></span>
				<span class="bar bar3"></span>
			</div>
			<ul class="topNav">
				<li><a href="our-history.html">Our History</a></li>
				<li><a class="active" href="who-we-are.html">Who We Are</a></li>
				<li><a href="what-we-do.html">What we do</a></li>
				<li><a href="our-portfolio.html">Our Portfolio</a></li>
				<li><a href="case-studies.html">Case Studies</a></li>
				<li><a href="what-they-say.html">What They Say</a></li>
			</ul>
		</div>
	</header>
	<div class="bannerInner clearfix">
		<div class="wrapper clearfix">
			<h2>Who We Are</h2>
		</div>
	</div>
	<div class="leaderShip clearfix">
		<div class="wrapper clearfix">
			<h3>Leadership Team</h3>
			<div class="carauselOuter clearfix">
				<a id="carouselPrev1" href="javascript:void(0);" class="carouselPrev"><img src="images/arrowLeft.png" alt=""></a>
                <a id="carouselNext1" href="javascript:void(0);" class="carouselNext"><img src="images/rightArrow.png" alt=""></a>
				<div id="carouselAllReviews" class="owl-carousel">
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/mit-shah.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Mit-Shah.png" alt=""></div>
	                		<h4>Mit Shah</h4>
	                		<h5>Senior Managing Principal and Chief Executive Officer</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/rodney-williams.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Rodney-Williams.png" alt=""></div>
	                		<h4>Rodney Williams</h4>
	                		<h5>Chief Investment Officer</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Mark-Rafuse.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Mark-Rafuse.png" alt=""></div>
	                		<h4>Mark Rafuse</h4>
	                		<h5>Managing Principal and Chief Administrative Officer</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Ben-Brunt.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Ben-Brunt.png" alt=""></div>
	                		<h4>Ben Brunt</h4>
	                		<h5>Principal and Executive Vice President Acquisitions &amp; Development</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Adi-Bhoopathy.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Adi-Bhoopathy.png" alt=""></div>
	                		<h4>Adi Bhoopathy</h4>
	                		<h5>Principal &amp; Executive Vice President Investment Management</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Jim-Conley.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Jim-Conley.png" alt=""></div>
	                		<h4>Jim Conley</h4>
	                		<h5>Chief Financial Officer</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Kevin-Grass.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Kevin-Grass.png" alt=""></div>
	                		<h4>Kevin Grass</h4>
	                		<h5>Principal and Executive Vice President Development</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Steven-Nicholas.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Steven-Nicholas.png" alt=""></div>
	                		<h4>Steven Nicholas</h4>
	                		<h5>Principal &amp; Executive Vice President Asset Management</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Roy-Croop.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Roy-Croop.png" alt=""></div>
	                		<h4>Roy Croop</h4>
	                		<h5>Senior Vice President Asset Management</h5>
	                	</div>
	                </div>
	                <div class="item">
	                	<div ng-click="getTemplateUrl('WhoWeAre/Michael-Quinlan.html')" class="itemInner clearfix" data-toggle="modal" data-target="#myModal">
	                		<div class="itemThumb"><img src="images/Michael-Quinlan.png" alt=""></div>
	                		<h4>Michael Quinlan</h4>
	                		<h5>Senior Vice President Fund Accounting and Finance</h5>
	                	</div>
	                </div>
              	</div>
            </div>
		</div>
	</div>
	<div class="leaderShipContent clearfix">
		<div class="wrapper clearfix">
			<h3>The Noble Organization</h3>
			<p>Founded in 1993, Noble has specialized in making value-added and opportunistic investments in the lodging and hospitality real estate sector.  Through our private equity real estate funds, Noble has made more than $3 billion of investments in primarily upscale select service and extended-stay hotels throughout the United States.</p>
			<p>Over more than 20 years, Noble has purposefully built a best-in-class team of lodging specialists who have broad expertise in real estate and capital markets to identify accretive investment opportunities, complex re-development acumen to maximize the income production of every square foot of lodging real estate, revenue and operating strategies to drive daily and longer-term financial performance, and an institutional investment management team with a strong track record as a fiduciary. Noble’s integrated team of principals invest alongside each Noble platform, working closely together as partners to execute a hands-on strategy and then sharing in the financial success of the organizations collective results.</p>
			<p>Noble has a deep rooted commitment to maintaining an active role in our communities where we remain personally and financially engaged to make the biggest impact on the cities in which we live, work and play. Through the design, development and re-development of our assets, Noble ensures minimal impact on ecosystems, reduces potable water consumption, promotes better building energy performance and participates in ongoing recycling and energy reduction initiatives. Noble pioneered the development of one of the first LEED (Leadership in Energy and Environmental Design) certified hotels in the United States and the very first in the state of Georgia. Education remains Noble’s cornerstone civic focus. Spanning three decades, Noble and its leaders have provided mentorships, scholarships and workforce preparedness in order to enrich student education at both the high school and collegiate level.</p>
			<p>The combination of our deep-rooted culture, our structure and our focused experience has allowed the Noble organization to have access to a broader spectrum of opportunities not readily available to the open market. This advantage, along with Noble’s alignment of interests, core values and performance-based framework, has enabled the organization to realize an exceptional realized investment track record over multiple market cycles.</p>
			<h3 class="mTop20">Investment Management Team</h3>
			<div class="managementOuter clearfix">
				<div class="managementCol">
					<h5>Scarlett Ainsworth</h5>
					<a href="mailto:scarlett.ainsworth@nobleinvestment.com">scarlett.ainsworth@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Carlos Asensio</h5>
					<a href="mailto:carlos.asensio@nobleinvestment.com">carlos.asensio@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Christopher Cox</h5>
					<a href="mailto:christopher.cox@nobleinvestment.com">christopher.cox@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Dustin Fisher</h5>
					<a href="mailto:dustin.fisher@nobleinvestment.com">dustin.fisher@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Dan Konzelmann</h5>
					<a href="mailto:daniel.konzelmann@nobleinvestment.com">daniel.konzelmann@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Judd Ledet</h5>
					<a href="mailto:judd.ledet@nobleinvestment.com">judd.ledet@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Patrick Trainor</h5>
					<a href="mailto:patrick.trainor@nobleinvestment.com">patrick.trainor@nobleinvestment.com</a>
				</div>
			</div>
			<h3 class="mTop20">Asset Management and Finance Team</h3>
			<div class="managementOuter clearfix">
				<div class="managementCol">
					<h5>Binta Barry</h5>
					<a href="mailto:binta.barry@nobleinvestment.com">binta.barry@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Martin Crowley</h5>
					<a href="mailto:martin.crowley@nobleinvestment.com">martin.crowley@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Mauricia Frederick</h5>
					<a href="mailto:mauricia.frederick@nobleinvestment.com">mauricia.frederick@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Bill Gmaz</h5>
					<a href="mailto:bill.gmaz@nobleinvestment.com">bill.gmaz@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>John Jimenez</h5>
					<a href="mailto:john.jimenez@nobleinvestment.com ">john.jimenez@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>John Jimenez</h5>
					<a href="mailto:john.jimenez@nobleinvestment.com ">john.jimenez@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Valerie Payne</h5>
					<a href="mailto:valerie.payne@nobleinvestment.com">valerie.payne@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Jeff Pennington</h5>
					<a href="mailto:jeff.pennington@nobleinvestment.com">jeff.pennington@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Madhu Purohit-Oza</h5>
					<a href="mailto:madhu.oza@nobleinvestment.com">madhu.oza@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Mike Scaff</h5>
					<a href="mailto:mike.scaff@nobleinvestment.com">mike.scaff@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Doug Shepherd</h5>
					<a href="mailto:douglas.shepherd@nobleinvestment.com">douglas.shepherd@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Blake Sobel</h5>
					<a href="mailto:blake.sobel@nobleinvestment.com">blake.sobel@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Nan Ward</h5>
					<a href="mailto:nan.ward@nobleinvestment.com">nan.ward@nobleinvestment.com</a>
				</div>
				<div class="managementCol">
					<h5>Charles Witt</h5>
					<a href="mailto:charles.witt@nobleinvestment.com ">charles.witt@nobleinvestment.com</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer clearfix">
		<div class="wrapper clearfix">
			<ul class="footNav clearfix">
				<li><a href="our-history.html">Our History</a></li>
				<li><a class="active" href="who-we-are.html">Who We Are</a></li>
				<li><a href="what-we-do.html">What we do</a></li>
				<li><a href="our-portfolio.html">Our Portfolio</a></li>
				<li><a href="case-studies.html">Case Studies</a></li>
				<li><a href="what-they-say.html">What They Say</a></li>
				<li><a href="mailto:info@nobleinvestment.com">Contact Us</a></li>
			</ul>
			<div class="copyRight clearfix">
				<div class="fooLeft">
					<p>Copyright 2015 Noble Investment Group LLC<br> Monarch Tower | 3424 Peachtree Road, NE | Atlanta, GA 30326 | 404.419.1000</p>
				</div>
				<div class="fooRight">
					<p><a href="http://myriann.com/" target="_blank">Made by Myriann</a></p>
					<div class="fooSocial">
						<ul class="socialIcon">
							<li><a target="_blank" href="https://www.facebook.com/nobleinvestment"><img src="images/fbIcon.png" alt=""></a></li>
							<li><a target="_blank" href="https://twitter.com/NobleInvestment"><img src="images/twitterIcon.png" alt=""></a></li>
							<li><a target="_blank" href="http://instagram.com/nobleinvestment"><img src="images/instagramIcon.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--Popup -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<a href="javascript:void(0);" class="btnClose" data-dismiss="modal"><img src="images/closeBtn.png" alt=""></a>
				<div class="modalContent clearfix">
					<div ng-include="pageUrl" scope="" onload=""></div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/TweenMax.min.js"></script> 
	<script src="js/jquery.noble.js"></script>
	<script src="js/app.mdl.js"></script>
	<script>
		function carouselAllReviews(){
			var owl = $("#carouselAllReviews");
			owl.owlCarousel({
				items : 5, //10 items above 1000px browser width
				itemsDesktop : [1199,3], //5 items between 1000px and 901px
				itemsDesktopSmall : [979,3], // 3 items betweem 900px and 601px
				itemsTablet: [768,2], //2 items between 600 and 0;
				itemsMobile : [639,1], // itemsMobile disabled - inherit from itemsTablet option
				scrollPerPage: true,
				slideSpeed:600
			});

			// Custom Navigation Events
			$("#carouselNext1").click(function(){
				owl.trigger('owl.next');
			});
			$("#carouselPrev1").click(function(){
				owl.trigger('owl.prev');
			});
		}

		$(function(){
			carouselAllReviews();
		})
	</script>
</body>
</html>